@font-face{
	font-family: Asenine;
	src: url("fonts/asenine/ASENINE_.ttf");
}

::-moz-selection {
	selection: none;
}

::selection {
	selection:none;
}

.page-background{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

header{
	text-align: center;
	padding: 10px 0;
}

main{
	// background-color: #222;
	height: 600px;
	margin: 10px auto;
	width: 1000px;
	margin-top: 20px;
	position: relative;
	text-align: center;
}

footer{
	padding: 5px 0;
	text-align: center;
	font-weight: bold;
	color: #E5E5E5;
	background-color: #222;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.main-logo{
	background-color: #FFF;
	margin: 20px auto;
	padding: 20px;
}

.main-menu-itens {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
}

.main-menu-itens li{
	margin: 10px 0;
	cursor: pointer;
	padding: 0 25px;
	padding-bottom: 5px;
	font-family: Asenine;
	font-size: 3em;
	font-weight: bold;
	width: 210px;

}

.main-menu-itens li:hover {
	background-color: #222;
	border-radius: 10px;
	color: #FFF;
}

.main-menu-itens li:active, .main-menu-itens li:focus {
	font-size: 2.5em;
	padding-top: 5px;
	padding-bottom: 10px;
}

.play-content .row{
	margin: 30px 0;
}

.play-content h2{
	font-size: 5em;
	font-family: Asenine;
	cursor: default;
}

.question-field {
	height: 100px;
	box-sizing: border-box;
	padding: 20px;
	background-color: #F0F0F0;
	margin: 20px 0;
	border-radius: 5px;
	cursor: default;
	box-shadow: 5px 5px #CCC;
}

.question-text {
	text-decoration: underline;
	font-size: 2.5em;
}

.seleciona-img img{
	min-width: 180px;
	min-height: 200px;
	padding: 5px;
	background-color: #F0F0F0;
	cursor: pointer;
	box-shadow: 5px 5px #CCC;
}

.seleciona-img {
	text-align: center;
}

.play-content .selected img{
	background-color: #439BFF;
	box-shadow: 5px 5px #436AFF;
}