@font-face{
	font-family: Asenine;
	src: url("fonts/asenine/ASENINE_.ttf");
}

.page-background{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

header{
	text-align: center;
	padding: 10px 0;
}

main{
	// background-color: #222;
	height: 600px;
	margin: 10px auto;
	width: 1000px;
	margin-top: 20px;
	position: relative;
	text-align: center;
}

footer{
	padding: 20px 0;
	text-align: center;
	font-weight: bold;
	color: #E5E5E5;
	background-color: #222;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.main-logo{
	background-color: #FFF;
	margin: 20px auto;
	padding: 20px;
}

.main-menu-itens {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
}

.main-menu-itens li{
	margin: 10px 0;
	cursor: pointer;
	padding: 0 25px;
	padding-bottom: 5px;
	font-family: Asenine;
	font-size: 3em;
	font-weight: bold;
	width: 210px;

}

.main-menu-itens li:hover {
	background-color: #222;
	border-radius: 10px;
	color: #FFF;
}

.main-menu-itens li:active{
	font-size: 2.5em;
	padding-top: 5px;
	padding-bottom: 10px;
}