header{
	text-align: center;
	padding: 10px 0;
}

main{
	background-color: #222;
	height: 600px;
	margin: 10px auto;
	width: 1000px;
	margin-top: 20px;
}

footer{
	padding: 20px 0;
	text-align: center;
	font-weight: bold;
}

.titleScreen {
	background: url("../data/img/bkg.png") center center repeat;
	background-clip: cover;
	width: 100%;
	height: 100%;
	position: relative;
	text-align: center;
}

.main-logo{
	background-color: #FFF;
	margin: 20px auto;
	padding: 20px;
}

.main-menu-itens {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
}

.main-menu-itens li{
	margin: 10px 0;
	cursor: pointer;
	height: 55px;
	padding: 10px;
	padding-bottom: 0;
}

.main-menu-itens li:hover {
	background-color: #222;
	border-radius: 10px;
}

.main-menu-itens li:active > img{
	height: 34px;
	margin: 3px 0;
}