<div>
	<div class="row">
		<div class="col-lg-2">
			<button class="btn btn-default back-button" id="back_button"><span class="glyphicon glyphicon-chevron-left"></span>Back to Main Menu</button>
		</div>
		<div class="col-lg-8">
			<h2>Library</h2>
		</div>
	</div>
	<div class="row">
		{{#each gifs}}
		<div class="col-lg-4 seleciona-img" data-id="{{name}}"><img src="{{url}}" height="220" />
      <p>{{ label }}</p>
    </div>
		{{/each}}
	</div>
	<div class="row">
		<div class="col-lg-2">
			<button class="btn btn-default back-button" id="back_button"><span class="glyphicon glyphicon-chevron-left"></span>Back to Main Menu</button>
		</div>
	</div>
</div>

