<div class="play-content">
	<div class="row">
		<div class="col-lg-4 gamescore">
			<button class="btn btn-default" id="back_button">Back (Forfeit)</button>
			<div id="gamescore">
				Score: <strong>{{ gamescore }}000</strong>
			</div>
		</div>
		<div class="col-lg-4">
			<h2>Question</h2>
		</div>
		<div class="col-lg-4">
			<img src="data/img/play/help_btn.png" id="help_btn" class="help_btn" />
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 question-field">
			<div class="question-text">{{{ question.value }}}</div>
		</div>
	</div>
	<div class="row">
		<h3>Please select one image below that represents the bold underscored word:</h3>
	</div>
	<div class="row">
		{{#each gifs}}
		<div class="col-lg-4 seleciona-img"><img src="{{url}}" /></div>
		{{/each}}
	</div>
	<div class="row play-actions">
		<div class="col-lg-3 col-lg-offset-3">
			<button class="btn btn-default btn-lg btn-danger">Skip</button>
		</div>
		<div class="col-lg-3">
			<button class="btn btn-default btn-lg btn-success">Confirm</button>
		</div>
	</div>
</div>
